<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Mercadinho : Atributo</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">lanches</a></li>
                        <li><a href="/assets/view/açougue.html">não pereciveis</a></li>
                        <li><a href="/assets/view/padaria.html">higiene</a></li>
                        <li><a href="/assets/view/natura.html">natura</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="attribute">
        <section class="body atributo">
            <div class="container">
                <div class="att_title">Um pouco sobre nós</div>
                <div class="att_icon">
                    <img src="../img/quote.png" alt="">
                </div>
                <div class="att_cont">
                    <div class="att_cont_desc">
                        <q>Não vendemos apenas alimentos, vendemos pureza na alimentação e qualidade de vida para as famílias. O nosso objetivo principal é oferecer produtos de qualidade a preços acessíveis respeitando sempre a dignidade de nossos clientes. Os preços de nossos produtos serão sempre justos seguindo as tendência inevitáveis do mercado.</q>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>