<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Mercadinho : Não Pereciveis</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">lanches</a></li>
                        <li><a href="/assets/view/açougue.html">não pereciveis</a></li>
                        <li><a href="/assets/view/padaria.html">higiene</a></li>
                        <li><a href="/assets/view/natura.html">natura</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main_açougue">
        <section class="body">
            <div class="container">
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/feijao.png" alt="feijão">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Feijão Tio Jorge 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/arroz.png" alt="arroz">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Arroz Cristal 1 - 5kg 
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/macarrao.png" alt="macarrão">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Macarrão Emegê 500g
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/oleo.png" alt="óleo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Óleo de Girassol 900ml 
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/açucar.png" alt="açucar">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Açucar Cristal 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/refri.png" alt="refrigerante">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante 200ml Diversos Sabores
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/suco.png" alt="suco">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Suco Tang Pacote de 25g Diversos Sabores
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/nissin.png" alt="miojo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Nissin Miojo 85g Diversos Sabores
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/pereciveis/margarina.png" alt="margarina">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Margarina Qualy 250g 
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>