<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Supermercado Dany : Bebidas</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="/assets/view/mercearia.html">mercearia</a></li>
                        <li><a href="/assets/view/açougue.html">açougue</a></li>
                        <li><a href="#">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main_açougue nat">
        <section class="body">
            <div class="container">
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/coca_cola.png" alt="coca cola">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Coca Cola 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/fanta.png" alt="fanta">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Fanta 2L Diversos Sabores 
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/Guaraná-Antarctica.png" alt="guaraná">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Refrigerante Guaraná Antarctica 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/del-valle.png" alt="suco">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Suco Del Valle 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/suco-marata.png" alt="suqinho marata">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Suco Maratá 200ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/agua-de-côco.png" alt="agua de cocô">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Agua de Cocô 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/antarctica.png" alt="cerveja antarctica">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Antarctica 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/brahma.png" alt="brahma">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Brahma 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/skol.png" alt="skol">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cerveja Skol 12 UND
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/cachaça-51.png" alt="cachaça 51">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Pirassununga 51 965ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/velho-barreiro.png" alt="velho barreiro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Velho Barreiro 910ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/paratudo.png" alt="paratudo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cachaça Paratudo Raiz Amarga 700ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/monster.png" alt="monster">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Monster 473ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/vulcano.png" alt="vulcano">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Vulcano 2L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/red-bull.png" alt="red bull">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Energético Red Bull 250ML
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/red-label.png" alt="whisky red label">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Johnnie Walker Red Label 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/Old-Parr.png" alt="whisky old parr">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky Old Parr 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bebidas/white-horse.png" alt="whisky white horse">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Whisky White Horse 1L
                            </div>
                        </div>
                        <div class="pric_prod">r$ 0,00</div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>