<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Mercadinho : Lanches</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="/index.html">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">hortifruti</a></li>
                        <li><a href="/assets/view/açougue.html">mercearia</a></li>
                        <li><a href="/assets/view/padaria.html">açougue</a></li>
                        <li><a href="/assets/view/bebidas.html">bebidas</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="body">
            <div class="container">
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/banana.png" alt="banana">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Banana 1kg.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/maçã.png" alt="maçã">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Maçã 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/laranja.png" alt="laranja">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Laranja 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/tomate.png" alt="tomate">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Tomate 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/cenoura.png" alt="cenoura">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Cenoura 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/beterraba.png" alt="beterraba">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Beterraba 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div> 
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/batata-inglesa.png" alt="batata inglesa">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Batata Inglesa 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/mandioca.png" alt="Mandioca">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Mandioca 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/batata_doce.png" alt="batata doce">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Batata Doce 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/couve-flor.png" alt="Couve Flor">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Couve-Flor UND
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/alface.png" alt="Alface">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Alface UND
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/hortifruti/repolho.png" alt="Repolho">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Repolho UND
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>