<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Mercadinho : Lanches</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">lanches</a></li>
                        <li><a href="/assets/view/açougue.html">não pereciveis</a></li>
                        <li><a href="/assets/view/padaria.html">higiene</a></li>
                        <li><a href="/assets/view/natura.html">natura</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="body">
            <div class="container">
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/rancheiro.png" alt="rosquinha rancheiro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rosquinha Recheada 90g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/passatempo1.png" alt="passatempo">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito PassaTempo 150g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/bono-prod.png" alt="bono">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Biscoito Bono 126g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/micos.png" alt="micos">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgadinho Micos 60g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/fandangos.png" alt="fandangos">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgadinho Fandangos 45g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/presunto.png" alt="">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Salgadinho Miliopã 50g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/bolacha-leite.png" alt="bolacha ao leite">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bolacha Mabel 400g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/rosquinha.png" alt="rosquinha rancheiro">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Rosquinha Rancheiro 300g Diversos Sabores.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/bolacha/cream-cracker.png" alt="cream crack">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Bolacha Cream Crack 300g.
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>