<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Mercadinho : Natura</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">lanches</a></li>
                        <li><a href="/assets/view/açougue.html">não pereciveis</a></li>
                        <li><a href="/assets/view/padaria.html">higiene</a></li>
                        <li><a href="#">natura</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="main_açougue nat">
        <section class="body">
            <div class="container">
                <div class="area_products natur">
                    <div class="widget-title">
                        <div class="widget-title-text">masculino</div>
                        <div class="widget-title-bar"></div>
                    </div>
                    <div class="products">
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/essencial.png" alt="Essencial">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Essencial Deo Parfum Masculino Diversas Fragâncias
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/kaiak.png" alt="Kaiak">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Kaiak Desodorante Colônia Masculino Diversas Fragâncias
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/homem.png" alt="Homem">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Natura Homem Desodorante Colônia Diversas Fragâncias
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area_products natur">
                    <div class="widget-title">
                        <div class="widget-title-text">feminino</div>
                        <div class="widget-title-bar"></div>
                    </div>
                    <div class="products">
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/luna.png" alt="Luna">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Luna Absoluta Desodorante Colônia Diversas Fragâncias
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/essencial-feminino.png" alt="Essencial Feminino">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Essencial Deo Parfum Feminino Diversas Fragâncias
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/humor.png" alt="Humor">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Humor Desodorante Colônia Diversas Fragâncias
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area_products natur">
                    <div class="widget-title">
                        <div class="widget-title-text">hidratantes</div>
                        <div class="widget-title-bar"></div>
                    </div>
                    <div class="products">
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/hd-luna.png" alt="Luna hidratante">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Desodorante Hidratante Corporal Perfumado Luna
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/andiroba.png" alt="andiroba">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Desodorante Hidratante Para o Corpo Ekos Andiroba
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                        <div class="product">
                            <div class="img_prod">
                                <img src="/assets/img/natura/todo-dia.png" alt="Todo-Dia">
                            </div>
                            <div class="desc_prod">
                                <div class="cont_prod">
                                    Creme Desodorante Nutritivo Para o Corpo Tododia
                                </div>
                                <div class="pric_prod">r$ 0,00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>