<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/pages.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="../controller/menu.js"></script>
    <title>Mercadinho : Higiene</title>
</head>
<body class="fundo">
    <header>
        <div class="container">
            <div class="logo">
                <a href="#">
                    <picture>
                        <source media="(max-width: )" srcset="">
                        <img src="/assets/img/logo.png" alt="Logo">
                    </picture>
                </a>
            </div>
            <div class="menu">
                <img class="menu_open" src="../img/menu.png" alt="">
                <nav>
                    <ul>
                        <li><a href="../../index.html">home</a></li>
                        <li><a href="/assets/view/attribute.html">quem somos</a></li>
                        <li><a href="/assets/view/hortifruti.html">lanches</a></li>
                        <li><a href="/assets/view/açougue.html">não pereciveis</a></li>
                        <li><a href="/assets/view/padaria.html">higiene</a></li>
                        <li><a href="/assets/view/natura.html">natura</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <main class="higiene">
        <section class="body">
            <div class="container">
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/higiene/amaciante.png" alt="amaciante">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Amaciante Ypê 2L
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/higiene/detergente-ypê.png" alt="detergente">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Detergente Ypê 500ml
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/higiene/personal.png" alt="papel higienico">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Papel Higiênico Personal 16 und
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
                <div class="area_products">
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/higiene/omo.png" alt="sabão em pó">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Sabão em pó Omo 1kg
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/higiene/ype.png" alt="sabonete">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Sabonete Ypê 85g
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                    <div class="product">
                        <div class="img_prod">
                            <img src="/assets/img/higiene/qboa lançamentos.png" alt="qboa">
                        </div>
                        <div class="desc_prod">
                            <div class="cont_prod">
                                Qboa 2L
                            </div>
                            <div class="pric_prod">r$ 0,00</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>